<%- include("../partials/header.ejs") %>

<div id="cohorts-main">
  <% if(posts){ %>
  <% for (let post of posts) { %>
<div class="card">
    <div class="card-body">
        <div class="card-title">
          <img class="rounded-circle z-depth-2" src="<%- post.logo_url %>"
          data-holder-rendered="true">
          <h1><%- post.name %></h1>
        </div>
      <p class="card-text"><%- post.members %></p>
      <a href="cohorts/<%- post.id %>" class="btn btn-primary">Show cohort</a>
    </div>
  </div>
  <% } %>
  <% } %>
</div>
  <%- include("../partials/footer.ejs") %>