<%- include("../partials/header.ejs") %>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="card-title card-show">
        <h5>
          <%- post.name %>
        </h5>
        <p class="card-text">
          <%- post.members %>
        </p>
      </div>
    </div>
     <hr>
    <!-- Assign Teams -->
    <div>
    <form action="/cohorts/<%=post.id%>" method="GET">
      <label for="form-check">Method</label>
      <%let teamCountChecked = ""%>
      <%let perTeamChecked = "" %>
      <%if(method === "teamCount"){ %>
        <%teamCountChecked = "checked"%>
         <%}else if(method === "perTeam"){%>
         <%perTeamChecked = "checked"%>
         <%}%>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="method" id="team-count" value="teamCount" <%-teamCountChecked%> required>
        <label class="form-check-label" for="inlineRadio1">Team Count</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="method" id="number-per-team" value="perTeam" <%-perTeamChecked%>>
        <label class="form-check-label" for="inlineRadio2">Number Per Team</label>
      </div>
      <div class="form-group">
        <label for="quantity" >Quantity</label>
        <input name="number" type="number" class="form-control" id="quantity" min="1" max="<%- post.members.split(",").length %>" value="<%=number%>" required>
      </div>
      <!-- <a href="#" class="btn btn-primary">Assign Teams</a> -->
      <button type="submit" class="btn btn-outline-primary btn-block">Assign Teams</button>
      <div class="cohort-container">

        <form action="/cohorts/<%- post.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE" >
          <input type="submit" class="btn btn-outline-danger" value="Delete" id="delete">
        </form>
        <a class="btn btn-outline-primary" href="/cohorts/<%- post.id %>/edit" id="edit">Edit</a>
        </div>
    </form>
  </div>


  <%- include("../partials/footer.ejs") %>